* {
display: center; 
background:lightblue;
color: white;
font-family: Helvetica, sans-serif;
}

a{
text-decoration: none;
height: 30px;
}
li a:hover{
color:#444444;
font-weight: bold;
}
h1 {
background: transparent;
margin-top:30px;
margin-bottom:20px;
font-family: Helvetica,sans-serif;
font-size: 3em;
text-align: center;
color: white;
text-shadow: 5px 5px 5px rgba(0,0,0,0.2)
}
.b *{
margin-top: -10px;
background:#aaaaaa;
color: black;
padding: 20px;
font-size:1.25em;
height: 30px;
font-family: Helvetica, sans-serif;
border-bottom: 2px solid black;
}
.b li{
background: transparent;
border: none;
display: inline;
padding:0px 50px 0px 50px;
text-align: left;
cursor: default;
width: 50px;
}

.b li .NC:hover{
color:#444444;
font-weight: bold;
}

ul #contact{
float:right;
display: inline;
padding: 0px 20px 0px 20px;
border: 1px solid black;
margin-top:1px;
margin-right:2px;
width: 85px;
background: #ffffff;
cursor:default;
box-shadow: 2px 2px 1px rgba(0,0,0,0.2)
}


ul #contact:active{
background:#bbbbbb;
margin-top:2px;
margin-left:1px;
box-shadow: none;
}

.article{
float: left;
border:2px solid black;
margin-left: 180px;
width: 700px;
height: 400px;
display: center;
background:linear-gradient(#ffffff,#dddddd);
margin-bottom: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.article h3,.article2 h3{
background: transparent;
color: black;
display: center;
position: absolute;
margin-left: 50px;
font-family: Helvetica, sans-serif;


}
.article:hover,.article2:hover{
box-shadow: 8px 8px 5px rgba(0,0,0,.2);

}

.article p,.article2 p{
margin: 25px;
margin-top: 55px;
float: left;
background: transparent;
color: black;
width: 300px;
}

.fakepicture  {
height: 300px;
width: 300px;
margin: 50px 50px 50px 0px;
float: right;
}

#blueflower .fakepicture{
background-image: url('https://s-media-cache-ak0.pinimg.com/736x/29/e5/eb/29e5ebff12618d7b98e50a4bf3522551.jpg');
}

#articlenum2 .fakepicture{
background-image: url("https://s-media-cache-ak0.pinimg.com/736x/12/64/da/1264da4a3f18207dc22592102abae40d.jpg");
}

#article3 .fakepicture{
background-image: url("https://s-media-cache-ak0.pinimg.com/736x/16/48/f4/1648f4e01b50d7629559b12f42d6dbc6.jpg");
}

#article4 .fakepicture{
background-image: url("http://www.flyingflowers.co.uk/ff_images/Row1_ElegantRoseFreesia-1.jpg?&unsharpmask-radius-amount=2&unsharpmask-value-amount=2");
}
.article2{
float: right;
border:2px solid black;
margin-right: 180px;
width: 700px;
height: 400px;
display: center;
margin-bottom: 30px;
background:linear-gradient(#ffffff,#dddddd);
box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}




